name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          
      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.5
          arguments: build
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bennygamble-artifacts
          path: build/libs/
